<div class="container <%= themename %>--article">
  <!-- These are the basic components that build up an article page -->
  <div slot="article-images" class="slot--article-images"></div>
  <div slot="article-name" class="slot--article-name"></div>
  <div slot="article-price" class="slot--article-price"></div>
  <div slot="article-choices" class="slot--article-choices"></div>
  <div slot="article-quantity" class="slot--article-quantity"></div>
  <div slot="article-buy-button" class="slot--article-buy-button"></div>
  <div slot="article-stock-shipping" class="slot--article-stock-shipping"></div>
  <div slot="article-social" class="slot--article-social"></div>
  <div slot="article-description" class="slot--article-description"></div>
</div>
