<!DOCTYPE HTML>
{{! Hey there! Checkout these mustache comments for info on what everything actually means.}}
<!--[if IE 9 ]>    <html class="ie9" lang="{{#lang}}lang{{/lang}}"> <![endif]--> {{! IE version check. Super important, used by the JSON RPC client to determine if XDomainRequests are needed. }}
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{#lang}}lang{{/lang}}"><!--<![endif]-->
  <head tws-theme-foundation-title-meta-desc-keywords>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="format-detection" content="telephone=no">

    {{! Angular needs a base tag for html5 routing to work }}
    <base href="/">

    {{! This tells the prerenderer to wait until we set this to true }}
    <script>
      window.prerenderReady = false;
    </script>

    {{! Since we load AngularJS in the bottom of the body tag we need this here so that we don't get a FOUC }}
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>

    {{! BUILTIN VARIABLE. This spits out all the styles from all the componentes }}
    {{#styles}}
    <link rel="stylesheet" href="{{{.}}}" media="screen" charset="utf-8">
    {{/styles}}

    {{!
      This loads the SASS file.
      A couple of things to note:

      * The version is important! '*' means always use latest version.
      * Diversity API dynamically compiles the SASS file to CSS, and any query parameters are exposed
        as variables in this SASS. This means that you can set any kind of SASS variable as a setting
        in the theme as long as you have it defined in both the settings, here in the url, and in the
        SASS file.
    }}
  <link rel="stylesheet"
        href='{{{context.serveWithStyleUrl}}}components/aficionado/*/css{{#settings.theme}}?foo=bar{{#documentColor}}&document-color={{.}}{{/documentColor}}{{#basicColor}}&basic-color={{.}}{{/basicColor}}{{#accentColor}}&accent-color={{.}}{{/accentColor}}{{#regularFont}}&regular-font-url="{{url}}"&regular-font="{{name}}"{{/regularFont}}{{#accentFont}}&accent-font-url="{{url}}"&accent-font="{{name}}"{{/accentFont}}{{/settings.theme}}' media="screen" charset="utf-8">


    {{!
      The example settings include settings for custom CSS,
      which is a good thing that you probably want!
    }}
    {{#settings.custom_css.links}}
    <link rel="stylesheet" href="{{{.}}}" media="screen" charset="utf-8">
    {{/settings.custom_css.links}}

    {{#settings.custom_css.rules}}
    <style>
      {{{.}}}
    </style>
    {{/settings.custom_css.rules}}

    {{!
      This script disables the javascript console.log function, unless we're on localhost or have
      "debug=true" in the url.
    }}
    <script>
    // Disable console in production
    if (location.href.toLocaleLowerCase().indexOf('debug=true') === -1 &&
        location.href.indexOf('://localhost') === -1) {
      // Windows only defines console if developer tools is open.
      if (window.console) {
        console.log = function() { };
      } else {
        window.console = {log: function(){}};
      }
    }
    </script>

    {{! This gives a friendly warning if the browser is old and outdated. See http://browser-update.org }}
    <script>
      if (navigator && navigator.userAgent && navigator.userAgent.indexOf('PhantomJS') === -1) {
        var $buoop = {c:2};
        function $buo_f(){
         var e = document.createElement("script");
         e.src = "//browser-update.org/update.js";
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
      }
    </script>


    {{!
      Isn't it nice when your shop can be viewed in different languages?
      Here we load the JSON objects that contains the translations that our gettext
      implementation use.
    }}
    <script type="text/javascript">
      window.tws = { data: { } };

      {{#l10n}}
        window.tws.data['{{{component}}}'] = { messages: {{{messages}}} };
      {{/l10n}}
    </script>

    {{! Extra component in HEAD. Useful for analytics. }}
    {{#settings.head}}
     {{{ componentHTML }}}
    {{/settings.head}}

  </head>
  <body ng-cloak>

    {{! Helper directive that renders a "You are previewing" message if certain cookies are set }}
    <div tws-theme-foundation-preview></div>

    <header class="<%= themename =>--header">
      {{! Example "slot", i.e. a place where a component can be put into }}
      <div slot="example-slot" class="slot--example-slot"></div>
    </header>

    {{!
      tws-theme-foundation uses tws-routing which in turn uses ui-router to route between pages.
      The available pages are defined in settings.layout.pages And at least all of the "standard"
      pages that match against Url API types + cart and checkout should always be defined.

      ui-view below is the point of inclusion for that page types template.
    }}
    <div ui-view="content" class="<%= themename %>--content"></div>

    <footer class="<%= themename %>--footer"></footer>


    {{! Default library dependencies }}
    <script src="//code.jquery.com/jquery-<%= jQueryVersion %>.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= angularVersion %>/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= angularVersion %>/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= angularVersion %>/angular-touch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= angularVersion %>/angular-animate.min.js"></script>

    {{! BUILTIN VARIABLE: Scripts of your components }}
    {{#scripts}}
    <script src="{{{.}}}"></script>
    {{/scripts}}

    {{! The example settings include support for custom js }}
    {{#settings.custom_javascript.srcs}}
    <script src="{{{.}}}"></script>
    {{/settings.custom_javascript.srcs}}


    {{! Last but not least we need to configure and bootstrap angular. }}
    <script>

      {{!
        BUILTIN VARIABLE: settingsJSON is the JSON representation of the *entire* settings object
        which also includes HTML for each sub component in the settings. Just rendering it here in
        a script tag means it gets parsed as JS code.

        It is then used by tws-theme-foundation to load all the component rendered mustache templates
        into cache for later use.

        tws-theme-foundation also looks at settings.layout.pages and hooks up all the routes defined
        there.
      }}

      // To avoid having to load the modules in a special order.
      angular.module('twsThemeFoundation').constant('themeSettings', {{{settingsJSON}}});

      // Transfer settings from mustache template to AngularJS.
      angular.module('<%= themename %>', ['ngTouch','ngAnimate'])
             .constant('webshop', {{context.webshopUid}})
             .constant('webshopUrl', '{{{context.webshopUrl}}}')
             .constant('language', '{{#lang}}lang{{/lang}}')
             .constant('apiUrl', '{{{context.apiUrl}}}')
             .constant('apiAuth', '{{{context.auth}}}')
             .constant('themeBaseUrl','{{{baseUrl}}}').run(function() {

             });
      {{! BUILTIN VARIABLE constructs the "angular.bootstrap(...)" }}
      {{{angularBootstrap}}}
    </script>

  </body>
</html>
