/* Moved from tws-article, could possibly be cleaned */
.tws-article {

  .article-left-col {
    margin-top: 25px;
  }

  .twsPriceCurrent, .twsPriceRegular {
    font-size: 2em;
  }

  .twsPriceCurrent {
    padding-right: 20px;
  }

  .article-artnr {
    color: #7a7a7a;
    margin-bottom: 5px;
    padding-left: 25px;
  }

  .article-cartmessages {
    margin: 10px 0;
  }

  .article-stockinfo {
    margin-top: 10px;
  }

  .article-heading, summary {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.2em;
    padding: 5px 0 5px 7px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .article-description {
    padding: 0 25px 0 25px;
  }

  .article-heading > span {
    float: right;
    margin: 4px 25px 0 0;
  }

  .article-hidden {
    display: none;
  }

  .article-sub-listitem {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    /*margin-bottom: 10px;*/
    padding: 5px 0;
    cursor: pointer;
  }

  .article-sub-listitem img {
    height: 40px;
    width: 50px;
  }

  .article-price-diff {
    font-size: 1.4em;
  }


  .article-sub-listitem .twsPriceCurrentDiff {
    color: #333;
  }

  .tws-article-sharebutton {
    width: 84px!important;
    margin-bottom: 70px
  }

}


/***********************************************************/
/*                                                         */
/*                      Functions                          */
/*                                                         */
/***********************************************************/

// Calculeate brightness of a given color.
@function brightness($color) {
  @return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

//for black-black or white-white combinations
@function contrast-if-needed($colorbg, $colorbsc) {
  @if ($colorbg == null) or ($colorbsc == null)  {
    @return null;
  }
  @else {
    @if ($colorbg == $colorbsc) {
      @return color-contrast($colorbg,darken($colorbg,15%),lighten($colorbsc,15%));
    }
    @return $colorbsc;
  }
}

/***********************************************************/
/*                                                         */
/*                   Colors - Variables                    */
/*                                                         */
/***********************************************************/

/******************* "monochrome" *******************/
// $document-color: #fff !default; $basic-color: #ECECEC !default; $accent-color: #000 !default;
/******************* "neon night" ******************************/
 $document-color: #ECECEC !default; $basic-color: #0e0e0e!default; $accent-color: #FF1168  !default;
/******************* "early spring" ******************************/
// $document-color: #ffffff !default; $basic-color: #E8EDE0 !default; $accent-color: #102E37  !default;
/******************* "salt and pepper" ******************************/
// $document-color: #ffffff !default; $basic-color: #000   !default; $accent-color: #000  !default;
/******************* "clean sheet" ******************************/
// $document-color: #fff !default; $basic-color: #fff !default; $accent-color: #fff  !default;

/******************* "clean sheet" ******************************/
// $document-color: red !default; $basic-color: blue !default; $accent-color: green  !default;


/***********************************************************/
/*                                                         */
/*                   Fonts - Variables                     */
/*                                                         */
/***********************************************************/

$regular-font-url: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" !default;
$accent-font-url: "http://fonts.googleapis.com/css?family=Playfair+Display+SC" !default;

$regular-font: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$regular-font-weight: normal !default;

$accent-font: 'Playfair Display SC', serif !default;
$accent-font-weight: normal !default;
$accent-font-transform: uppercase !default;

@import url($regular-font-url);
@import url($accent-font-url);

/* Complementary Colors - Calculated from Base Colors */
$dark-text-default: #000 !default;
$light-text-default: #fff !default;
$document-color-subtile-contrast: color-contrast($document-color,darken($document-color,15%),lighten($document-color,15%));
$basic-color-contrast: color-contrast($basic-color,#171717,#EDEDED);
$basic-color-complement: adjust-color($basic-color,-128,-128,-128) !default;
$basic-color-lighter: transparentize($basic-color, 0.3);
$basic-color-lighter-contrast: color-contrast($basic-color-lighter,#171717,#EDEDED);
$accent-color-complement: color-contrast($accent-color,darken($accent-color,15%),lighten($accent-color,15%)) !default;

/***************** COLORS *******************/

/* Transparent */
.proceed-to-checkout,
.thumbnail,
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th,
.tws-checkout-checklist div.ng-scope:not(.alert-dismissable),
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover, {
  background-color:transparent;
}

input, select, textarea, .has-success .form-control {
  background-color:white;
  color:black;
  border-color:$document-color-subtile-contrast;
}

/* Här kan man ha en till färg om man vill */
/*
.cocktail-bar .container,
.tws-theme-content .container
 {
  background-color:#EFEFEF;
}
*/

/**********************************/
/*         Document Color         */
/**********************************/
/* background */
.documentColorAsBackground,
body,
.modal-content,
.cocktail-bar .container,
.modal-content .list-group-item,
.mega-menu,
.dropdown-menu,
.article div.tws-article-sharebutton label.entypo-export,
.pagination>li>a, .pagination>li>span,
.tws-checkout-cart tr.odd,
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
  background-color: $document-color;
}

/* subtile contrasting background */
.subtileContrastingDocumentColorAsBackground
{
  background-color: $document-color-subtile-contrast;
}

/* contrasting text color */
.documentColorAsColor,
body,
.modal-content,
.btn-default,
.tws-logo--text,
.tws-article-search ul.dropdown-menu a:link,
.tws-article-search ul.dropdown-menu a:visited,
.modal-content .close,
.modal-content .list-group-item span.ng-binding,
.article div.tws-article-sharebutton label.entypo-export,
.pagination>li>a, .pagination>li>span,
.thumbnail .caption,
.proceed-to-checkout span,
.has-success .control-label,
.mega-menu a:link,
.mega-menu a:active,
.mega-menu a:visited,
.navbar-default .navbar-nav>li>a,
.control-label,
a:link,
.internal-msg,
.tws-checkout .tws-checkout-checklist .preview,
.tws-checkout .tws-checkout-checklist .help-block,
.tws-checkout .tws-checkout-checklist .control-label,
.tws-checkout .tws-checkout-checklist .fa-check,
.glyphicon-ok:before,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.thumbnail .caption span.twsPriceRegular,
.twsPriceRegular,
legend[ng-show="form.title"],
a:active,
a:visited,
.article-artnr,
.article .article-sub-listitem > div .twsPriceCurrent,
.article .article-sub-listitem > div .twsPriceRegular,
.article .article-sub-listitem > div.articleNumber,
.article .article-sub-listitem > div,
.btn.active,
.btn-danger,
.twsPriceCurrent.twsPriceBothShown,
.tws-article-search .dropdown-menu .text-center,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.article-sub-listitem.article-active .select-me:after
{
  color: color-contrast($document-color);
}


.navbar-default .navbar-toggle:hover span.icon-bar,
.navbar-default .navbar-toggle:focus span.icon-bar {
  background-color: color-contrast($document-color);
}

/* border */
.borderColor1,
.tws-checkout-checklist .alert-dismissable
{
  border-color: $document-color-subtile-contrast;
}

.dropdown-menu li a:link,
.dropdown-menu li a:active,
.dropdown-menu li a:hover,
.dropdown-menu li a:visited,
.dropdown-submenu:before
{
 color: color-contrast($document-color);
}


/* shadows */
.btn.active,
.tws-checkout-checklist .ng-valid-tws-delivery button,
.tws-checkout-checklist .ng-valid-tws-payment button,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
box-shadow: inset 0 3px 12px
                   transparentize(color-contrast($document-color), 0.8);
}

table.tws-checkout-cart.table tr:not([class]) td,
table.tws-checkout-cart.table tbody tr:first-child,
.thumbnail,
.tws-content-box,
.tws-list--type-list .row,
.article-heading,
.tws-checkout-item-edit-dialog .input-group,
.tws-checkout-item-edit-dialog .modal-header,
.article-sub-listitem,
.article div.tws-article-sharebutton label.entypo-export {
  border-color: transparentize(color-contrast($document-color), 0.9);
}

.image-placeholder,
.placeholder {
  color: transparentize(color-contrast($document-color), 0.97);
  text-shadow: 2px 2px 3px transparentize($document-color,0.8);
}

/* subtile background difference */
.customer-info-box > div,
.btn-danger,
.btn-default,
.btn-default.pay,
.btn-default:hover,
.btn-default.active,
.article .article-slick-nav .slick-prev,
.article .article-slick-nav .slick-next,
.image-placeholder,
.placeholder,
.dropdown-menu li a:hover,
.tws-checkout-checklist .alert-dismissable,
.article-sub-listitem.article-active,
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.tws-checkout-cart.table-striped tr.even {
  background-color: transparentize(color-contrast($document-color), 0.95);
  border-color: transparentize(color-contrast($document-color), 0.9);
}

/* couterpart on borders */
.borderColor2,
.mega-menu,
.cocktail-bar .navbar
{
  border-color:     color-contrast($document-color);
}

.tws-slick button.slick-prev:before,
.tws-slick button.slick-next:before
{
  color: transparentize(color-contrast($document-color), 0.8);
}

/**********************************/
/*           Secondary            */
/**********************************/
/* background color */
.basicColorAsBackground,
.top-bar,
.tws-article-search .fa,
.tws-theme-footer,
.tws-content-box,
.navbar-toggle,
.glyphicon-search,
.top-bar .tws-currency .btn,
.top-bar .tws-currency .btn.dropdown-toggle,
.top-bar [tws-language] .btn,
.top-bar [tws-language] .btn.dropdown-toggle
{
  background-color: $basic-color;
}

/* text-color */
.basicColorAsColor,
.top-bar,
.tws-article-search .dropdown-menu>.active>a,
.tws-article-search .dropdown-menu>.active>a:hover,
.tws-article-search .dropdown-menu>.active>a:focus,
.top-bar a:link,
.top-bar a:active,
.top-bar a:visited,
.tws-article-search .fa,
.glyphicon-search,
.tws-currency .btn,
.tws-currency .btn.dropdown-toggle,
[tws-language] .btn,
[tws-language] .btn.dropdown-toggle,
.top-bar .dropdown-menu>.active>a,
.tws-theme-footer,
.tws-theme-footer a:link,
.tws-theme-footer a:active,
.tws-theme-footer a:hover,
.tws-theme-footer a:visited,
.top-bar .dropdown-menu>.active>a:hover,
.top-bar .dropdown-menu>.active>a:focus,
.tws-article-search .dropdown-menu .active .text-center
{
  color:           $basic-color-contrast;
}



.tws-article-search .dropdown-menu>.active>a,
.tws-article-search .dropdown-menu>.active>a:hover,
.tws-article-search .dropdown-menu>.active>a:focus
{
  background-color: contrast-if-needed($document-color,$basic-color)
}

.navbar-default .navbar-toggle span.icon-bar {
  background-color: $basic-color-contrast;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: $document-color-subtile-contrast;
}



.tws-content-box h1,
.tws-content-box h2,
.tws-content-box h3,
.tws-content-box h4,
.tws-content-box-first-line {
  color: $basic-color-lighter-contrast;
}

.tws-content-box .text-color-inverted * {
  color: invert($basic-color-lighter-contrast);
}

/* background color - lighter */
.tws-content-box,
.top-bar .dropdown-menu>.active>a,
.top-bar .dropdown-menu>.active>a:hover,
.top-bar .dropdown-menu>.active>a:focus,
{
  background-color: $basic-color-lighter;
}

.top-bar .btn.dropdown-toggle {
  border-color: $document-color;
}






.modal-content .list-group-item span.ng-binding.badge
{
  color:            color-contrast($basic-color);
  background-color: $basic-color;
  border-color:     $document-color-subtile-contrast;
}

/* borders */
.tws-article-search .form-control,
.navbar-default .navbar-toggle,
.tws-article-search .fa {
  border-color:  contrast-if-needed($document-color,$basic-color);
}

/**********************************/
/*           Accent               */
/**********************************/
.accentColorAsBackground,
.btn-primary,
.btn-primary.pay,
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
a.btn-primary,
a.btn-primary:link,
a.btn-primary:visited,
a.btn-primary:active,
a.btn-primary:hover,
button.btn-primary.ladda-button {
  color:            color-contrast($accent-color);
  background-color: $accent-color;
  border-color:     $accent-color-complement;
}



.modal-content .btn-primary .ladda-label.ng-binding {
    color:            color-contrast($accent-color);
}

.ladda-spinner * {
  background-color: color-contrast($accent-color)!important; /* has inline style */
}



/******************** Shared properties ******************/



/********** TEXT STYLES **********/

/* Text-style Regular */
body,
.badge,
.dropdown-menu ul,
.tws-content-box-first-line,
.proceed-to-checkout span,
.tws-list--type-list .twsPriceCurrent,
.tws-list--type-list .twsPriceRegular,
.article .article-sub-listitem > div.articleNumber,
.article .article-sub-listitem > div,
legend[ng-show="form.title"],
.top-bar .dropdown-menu li a,
.top-bar .dropdown-menu li a:link,
.top-bar .dropdown-menu li a:active,
.top-bar .dropdown-menu li a:hover,
.top-bar .dropdown-menu li a:visited,
.dropdown-menu li a:link,
.dropdown-menu li a:active,
.dropdown-menu li a:hover,
.dropdown-menu li a:visited,
.loading-text,
.image-placeholder,
.tws-logo--text,
.internal-msg,
.tws-checkout-item-edit-dialog .modal-body h4,
.article div.tws-article-sharebutton label.entypo-export span {
  font-family: $regular-font;
  font-weight: $regular-font-weight;
  text-transform: none;
}


/* Text-style Accent */
.top-bar,
.article .twsPriceCurrent,
.article .twsPriceRegular,
.article .article-sub-listitem > div .twsPriceCurrent,
.article .article-sub-listitem > div .twsPriceRegular,
.navbar-default,
.tws-contact-info h3,
.promoted-articles a,
.dropdown-menu li[class*="tws-top-menu-"].dropdown > a,
.navbar-default .navbar-collapse .navbar-nav>li>a,
h1, h2, h3, h4, h5,
.article .twsPriceCurrent,
.tws-content-box-second-line,
.tws-content-box-third-line,
.tws-list--type-list .row h4 a {
  font-family: $accent-font;
  font-weight: $accent-font-weight;
  text-transform: $accent-font-transform;
 }


/********** TEXT SIZES **********/

/* Text-size Regular */
body,
.badge,
.smallText,
.tws-list--type-list .twsPriceRegular,
.tws-list .btn-group .btn,
.tws-checkout .tws-checkout-checklist .preview,
.tws-artgrp-info p,
.caption .twsPriceCurrent,
.thumbnail .caption span.twsPriceRegular,
.article .article-sub-listitem > div .twsPriceCurrent,
.article .article-sub-listitem > div .twsPriceRegular,
.article .article-sub-listitem > div.articleNumber,
.article .article-sub-listitem > div,
.caption h5,
.sumrow,
.internal-msg,
.dropdown-menu>li>a,
.dropdown-menu li a:link,
.dropdown-menu li a:active,
.dropdown-menu li a:hover,
.dropdown-menu li a:visited,
.tws-checkout-item-edit-dialog .modal-body h4,
.tws-article-search ul.dropdown-menu .ng-scope,
.proceed-to-checkout span,
.tws-list--type-list .row h4 a,
.article-sub-listitem.article-active .select-me:after,
.tws-list--type-list .twsPriceCurrent {
  font-size:12px;
  line-height:18px;
  letter-spacing:0.05em;
  text-transform: none;
}


/* Text-size Medium */
.mediumText,
.tws-content-box-first-line,
.article-heading,
.tws-checkout .tws-checkout-checklist .fa,
.btn,
.tws-contact-info h3,
.article .article-sub-listitem > div .twsPriceCurrent,
.article .article-sub-listitem > div .twsPriceRegular,
legend[ng-show="form.title"],
.loading-text,
.tws-content-box--center .tws-content-box-first-line {
  font-size:18px;
  text-transform: uppercase;
  font-weight:300;
}
@media only screen and (max-width : 480px) { /* xs */
.mediumText,
.tws-content-box-first-line,
.article-heading,
legend[ng-show="form.title"],
.btn,
.tws-content-box--center .tws-content-box-first-line
  {
    font-size:16px;
    line-height:18px;
  }
.tws-checkout-modal .input-group .btn {
  padding:6.5px 10px!important;
}

}

/* Text-size Large */
.largeText,
h1, h2, h3,
.tws-logo--text,
.article .twsPriceCurrent,
.article .twsPriceRegular,
.tws-content-box-second-line,
.tws-content-box-third-line
 {
  font-size:24px;
  letter-spacing:0.1em;
  font-weight:400;
  line-height:25px;
}
@media only screen and (max-width : 480px) { /* xs */
  .largeText,
  h1, h2, h3,
  .article .twsPriceCurrent,
  .tws-content-box-second-line,
  .tws-content-box-third-line
  {
    font-size:18px;
    line-height:20px;
  }
  legend[ng-show="form.title"] {
    text-align: center;
  }
}

/* Text-size Super Large */
.singleRowContentBox {
  font-size:48px;
  line-height:48px;
}
@media only screen and (max-width : 480px) { /* xs */
  .tws-content-box--center h2
  {
    font-size:24px;
    line-height:22px;
  }
}

/* No text decoration */
[tws-url-href=''], [href=''] {
  text-decoration:none!important;
}



 html,
body {
  height: 100%;
}

.tws-theme {
  height: 100%;
  position: relative;
}

.tws-theme-wrapper {
  min-height: 100%;
  margin: 0 auto;
}

body {
  min-height:100%;
}


/********** OTHER TEXT PROPERTIES ***/

/* Centered text */
.thumbnail,
.tws-articlegroup-list h3,
h3.tws-articles-title {
  text-align: center;
}

/********** BOXES *******************/

/* Box with border */
.customer-info-box > div,
.modal-content .list-group-item,
.pagination>.active>a
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.article-sub-listitem,
.tws-content-box,
.tws-list--type-list .row,
.article-heading,
.article div.tws-article-sharebutton label.entypo-export,
.form-control,
.has-success .form-control,
.tws-article-search .fa,
.has-error .form-control
{
  border-width: 1px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-style: solid;
  border-radius: 0;
}

/* No box shadow */
.dropdown-menu,
.top-bar .btn-group.open .dropdown-toggle,
.top-bar .btn-group.open .btn:active,
.top-bar .btn-group.open .btn:focus
{
  box-shadow:none;
}

/* No border-radius */
input, select, textarea, .form-control, .btn,
.thumbnail,
.dropdown-submenu > .dropdown-menu,
.article-sub-listitem,
.alert,
.tws-currency .btn,
[tws-language] .btn,
.badge,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.article div.tws-article-sharebutton label.entypo-export,
.navbar,
.navbar-toggle,
.dropdown-menu,
.modal-content,
.list-group-item:first-child,
.list-group-item:last-child
{
  border-radius: 0;
  -webkit-border-radius: 0px;
}




/* No border */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td,
.proceed-to-checkout,
legend[ng-show="form.title"],
table,
table tr,
table th,
table tr td
{
 border-top: none;
 border-bottom: none;
 border:none;
 border:0;
}

.table>thead>tr>td, .table>tbody>tr>td {
  vertical-align: middle;
}


/* Vertical centered content */
.header-bar,
.tws-list--type-list .row .tws-list-repeat
{
  /* WARNING! IE9 unsolved */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox; /* IE 10+ */
  display: flex;
  align-items: center;
}

/* Link-indicating cursor */
.thumbnail,
.dropdown-menu a,
div[editable="true"] .tws-checkout-cart tr:not(.shipment-row)
 {
  cursor:pointer;
}



/******************** General Theming *******************/
.thumbnail {
   margin-bottom: 30px;
 }

.tws-theme-preview {
  background: #973795;
  color: white;
  padding: 6px 20px;
}

.tws-theme-preview > span {
  text-transform: uppercase;
}
.tws-theme-preview > a {
  float: right;
  text-decoration: underline;
  color: #fff;
}

.tws-theme-preview > a:hover {
  opacity: 0.7;
}


.to-checkout-button-container .login {
  margin-bottom:10px;
}





.article .article-slick-big .slick-prev {
  left:10px;
}
.article .article-slick-big .slick-next {
  right:10px;
}

.article .article-slick-nav .slick-prev,
.article .article-slick-nav .slick-next {
  height:100%;
  top:0;
  margin-top:0;
  width:50px;
}

.article .article-slick-nav .slick-prev {left:0;}
.article .article-slick-nav .slick-next {right:0;}

.article .article-slick-big {
  margin-bottom:10px;
}

.article .article-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

/* TODO: Different sizes for different breakpoints?  */
.article .article-slick-big .article-image {
  height: 500px;
}

.article .article-slick-nav .article-image {
  height: 130px;
}


.article .article-slick-nav .slick-list {
  padding:0!important;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.article .article-slick-nav .article-slick-nav .slick-prev {

}




 .inline-badge {
  margin-top: -3px;
  margin-right: 5px;
}

.modal { position: absolute!important; }

.tws-checkout-checklist .alert-dismissable {
  text-align:center;
}

.tws-logo--text {
  letter-spacing: -4px;
}

button[data-loading] .fa {
  display:none;
}

.twsPriceCurrent {
  padding:0;
}
.twsPriceRegular {
  padding-right:20px;
}

.tws-article-search ul.dropdown-menu li.ng-scope span {
  margin-left:5px;
}


.tws-theme-footer a,
.tws-contact-info--telephone-number,
.tws-contact-info--terms-and-conditions,
.tws-contact-info--email
{
  padding: 0;
}

.vrnt-nfo-hdln {
display: block;
font-weight: bold;
}

.article-sub-listitem {
  margin:0;
  border-left-style:none;
  border-right-style:none;
}

form[name="articleChoices"]
{
  margin-top:20px;
}





.article-sub-listitem {
  border-top-style:none;
}

/* Mindfuck-selectors that actually work! */
.article-sub-listitem:first-child,
:not(.article-sub-listitem) + .article-sub-listitem
{
  border-top-style: solid;
  margin-top:20px;
}




.tws-contact-info h3 {
margin: 0 0 10px 0;
}


.top-bar .tws-currency .btn,
.top-bar .tws-currency .btn.dropdown-toggle,
.top-bar [tws-language] .btn,
.top-bar [tws-language] .btn.dropdown-toggle {
  padding:0;
}


/* Make long article names in lists clip and have tree dots */
.tws-articles .thumbnail .caption a,
.tws-article-list .thumbnail .caption a,
.tws-articlegroup-list .thumbnail .caption a,
.tws-logo--text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 90%;
  text-rendering:auto;
}

.tws-logo--text {

}

.thumbnail .twsPriceCurrent {
  min-height:15px;
  display:inline-block;
}

.article .no-image {
  height:100%;
  position:relative;
}

.image-placeholder {
  display:none;
}


.tws-list--type-grid .image-placeholder {
  height:235px;
  width:100%;
}

.tws-list--type-list .image-placeholder {
  height:60px;
  width:60px;
}

.article-sub-listitem img,
.no-image .placeholder {
  height:50px;
  width:50px;
}

.no-image .placeholder {
  display:block;
  max-height:100%;
  max-width:100%;
}

.no-image .image-placeholder,
.no-image .placeholder {
  display:block;
  overflow:hidden;
  position: relative;
}

.no-image .image-placeholder span {
  text-transform: uppercase;
  display:block;

  width:100%;
  letter-spacing: -7px;
  white-space: nowrap;
  text-align: center;
  font-size:75px;
  font-weight:bold;

    margin: 60px auto auto auto;

}

.tws-content-box {
  background-repeat:no-repeat;
}

.no-image {
  text-decoration:none!important;
}

table.tws-checkout-cart.table tbody tr:first-child {
  border-top-style: solid;
  border-top-width: 1px;
}

.top-bar .btn-group .btn {
  border-width: 0;
}

.article .draggable .slick-slide {
  cursor: move;
  background-color:transparent;
}

.article .slick-slide {


}

.top-bar .dropdown-menu {

}

.dropdown-menu > li > a {
padding: 7px 10px;
}



.tws-logo--container {
  margin:0 auto;
}


[class*="fa-angle-"] {
  float:right;
}


.tws-logo[style*="background-image"] .tws-logo--text {
  display:none;
}


// We don't want the default proportional scaling here
.promo-box-top {
  .tws-content-box {
    min-height:110px;
  }

  // Undo the proportional div hack: This has position static again
  .tws-content-box--inner-wrapper {
    position: static;
    margin: -20px; // To compensate for the 20px padding on .tws-content-box
  }

  a.tws-content-box--table {
    position: static;
    min-height:110px;
  }

  // Undo the proportional div hack: No need for this
  .tws-content-box--proportions-image {
    display: none;
  }
}

.modal-backdrop {
  opacity: 0.7;
}

/* Modals needs to be outside of site-wrappers

.modal_active .tws-theme-wrapper,
.modal_active .tws-theme-footer
 {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  overflow: hidden;
}
*/


.tws-checkout [tws-checkout-select-delivery] [ng-show]:before,
.tws-checkout [tws-checkout-select-payment] [ng-show]:before,
.tws-checkout [tws-checkout-apply-discountcode] [ng-show]:before,
.tws-checkout-cart [ng-if="item.discountInfo"] td.ng-binding:before,
.tws-checkout-cart .discountInfo .discountInfoName:before,
.dropdown-submenu:before,
.article-sub-listitem.article-active .select-me:after,
.tws-pre-checkout .btn-default.active:after,
.glyphicon-ok:before,
.tws-contact-info--email:before,
.tws-contact-info--terms-and-conditions:before,
.tws-contact-info--telephone-number:before,
.addressRowOne:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

.tws-checkout [tws-checkout-select-delivery] [ng-show]:before,
.tws-checkout [tws-checkout-select-payment] [ng-show]:before,
.tws-checkout [tws-checkout-apply-discountcode] [ng-show]:before {
  position:relative;
  right:10px;
}

.tws-checkout-cart [ng-if="item.discountInfo"] td.ng-binding,
.tws-checkout-cart .discountInfo .discountInfoName {
  position:relative;
}

.tws-checkout-cart [ng-if="item.discountInfo"] td.ng-binding:before,
.tws-checkout-cart .discountInfo .discountInfoName:before {
  position: absolute;
  left: -10px;
  bottom: 7px;
}

.tws-checkout-cart [ng-if="item.discountInfo"] td.ng-binding:before,
.tws-checkout-cart .discountInfo .discountInfoName:before {
  content: "\f02b"
}

/* tws-checkout */

/* Nice new radio buttons */
.tws-checkout input[type=radio]:not(old) {
  visibility:hidden;
  position:absolute;
}

.tws-checkout div.radio {
  margin-bottom:10px;
}

.tws-checkout input[type=radio]:not(old) + label {
  display: block;
  font-size:16px;
}

.tws-checkout .radio label {
  background:#fbfbfb;
  border-radius:3px;
  border:1px solid #f3f3f3;
  padding:10px;
  cursor:pointer;
}

.tws-checkout input[type=radio]:not(old) + label:hover {
  background:#f8f8f8;
  border-color:e6e6e6;
}

.tws-checkout input[type=radio]:not(old) + label:before {
  content:" ";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 10px -5px 0;
  border: 6px solid #cacaca;
  border-radius: 99px;
  background:#cacaca;
}

.tws-checkout input[type=radio]:not(old):checked + label:before {
  border: 6px solid #64aec0;
  background:#fff;
}

.tws-checkout-cart.table .sumrow { font-weight:bold; font-size:16px; }

@media screen and (max-width: 991px) {
    .tws-checkout .radio {
        margin: 15px 0;
    }

    .tws-checkout h4,
	.tws-checkout .box legend {
		margin-top:0;
		padding-top:20px;
		padding-bottom:5px;
	}

	.tws-checkout .tws-checkout-pay-center hr {
		width:50%;
 	}
}

@media screen and (max-width: 767px) {
    .tws-checkout .radio {
        margin: 18px 0;
    }

	.tws-checkout .tws-checkout-pay-center hr {
		width:80%;
 	}
}

.addressRowOne:before {
  content: "\f041";
}

.tws-contact-info--email:before {
  content: "\f003";
}

.tws-contact-info--telephone-number:before {
  content: "\f095";
}

.tws-contact-info--terms-and-conditions:before {
  content: "\f0e3";
}

.tws-contact-info--terms-and-conditions:before,
.tws-contact-info--telephone-number:before,
.tws-contact-info--email:before,
.addressRowOne:before {
  width:20px;
}

.addrNfo:not(.addressRowOne) {
  margin-left:20px;
}

.tws-contact-info--terms-and-conditions,
.tws-contact-info--telephone-number,
.tws-contact-info--email {
  display:block;
}

.dropdown-submenu:before {
  content: "\f0da";
  position: absolute;
  right: 5px;
  top: 5px;
}

.article-sub-listitem.article-active .select-me:after,
.tws-pre-checkout .btn-default.active:after,
.glyphicon-ok:before {
  content: "\f00c";
}

.glyphicon-ok {
  top:20px;
}

.tws-pre-checkout .btn-default.active:after {
  position:absolute;
  right:10px;
}
.article-sub-listitem.article-active .select-me:after {
  position: relative;
  top: 10px;
  left: 12px;
}

.thumbnail .twsPriceCurrent,
.article-sub-listitem .articleNumber {
  padding:0;
}
.article-sub-listitem div[class^="col-"]:not(.articleNumber) {
  padding-left:5px;
  padding-right:5px;
}

.article .alert-success span {
  margin-bottom:10px;
  display:block;
}

.modal {
  display:block;
}

.btn .fa-shopping-cart {
  margin-right:4px;
}


.tws-checkout-item-edit-dialog .input-group,
.tws-checkout-item-edit-dialog .modal-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.tws-checkout-item-edit-dialog {
  .row h4 {
    display:inline;
  }
  .modal-body h4,
  .table-striped tr td:first-child {
    padding-left:25px;
  }
   .table-striped td {
    padding-right:0;
   }
  .input-group {
    width:100%;
    padding-bottom:10px;
  }
  .input-group-btn button.btn-default[type="button"] {
    padding:3px 10px;
  }
  .col-xs-12 .input-group-btn {
    padding:0!important;
    display:inline-block;
  }

  .input-group,
  .input-group label,
  .input-group .input-group-btn,
  .input-group input {
    float:left;
  }

  .input-group label {
    margin:10px 20px 0 30px;
  }
  .input-group .input-group-btn {
    width:auto;
  }
  .input-group input {
    display:inline-block;
    width:100px;
    height:33px;
    border-left:none;
  }

  .col-xs-12 .input-group-btn label {
    margin-bottom:0;
  }

  .table-striped td {
    display:inline!important;
  }

}

.tws-checkout [tws-checkout-select-delivery],
.tws-checkout [tws-checkout-select-payment],
.tws-checkout [tws-checkout-apply-discountcode] {

}

.tws-checkout [tws-checkout-select-delivery] .alert,
.tws-checkout [tws-checkout-select-payment] .alert
{
  width:100%;
}

.tws-checkout-success .btn-primary {
  width:30%;
}

.loading-text {
  position: absolute!important;
}

.tws-theme-footer address {
  margin-bottom: 15px;
}

.tws-article-search .fa:before {
  position: relative;
  top: 9px;
}

.alert,
.articleNumber,
.article-sub-listitem .col-xs-4 .ng-scope,
.tws-content-box [class*="tws-content-box-"][class*="-line"] {
  word-wrap: break-word;
  word-break: break-word;
}




.tws-checkout .tws-checkout-checklist .fa {
  margin:0;
}

table.tws-checkout-cart.table tr:not([class]) td {
  border-top-width: 1px;
  border-top-style: solid;
}

.tws-list--type-list .row,
.modal-content .list-group-item {
  border-left:none;
  border-right:none;
}
.tws-list--type-list .row:last-child,
.modal-content .list-group-item:last-child {
  border-bottom:none;
}

.modal-content .list-group-item:first-child {
  border-top:none;
}

.tws-article-search .fa {
  border-left:none;
}

.modal-dialog .close {
  text-shadow:none;
  opacity:1;
}

.proceed-to-checkout {
  padding:0;
}

.customer-info-box > div {
  padding:20px;
  margin-bottom:30px;
}

.tws-checkout-checklist .btn-default .arrow,
.tws-checkout-checklist .btn-default .arrow {
  margin-top:1px;
}



/* warn about caps lock in password fields - webkit */
input[type="password"] {
  -webkit-appearance: caps-lock-indicator;
}

/* cart table image height - to make rows more slim */
.tws-checkout-cart img {
  max-height:30px;
}

.sumrow {
  font-weight: bold;
}

.tws-theme-header {
  height:auto;
}

.top-bar,
.tws-theme-footer {
  padding: 15px 0;
}

.header-bar {
  margin:0;
}

.header-bar .col-md-3,
.header-bar .col-lg-3 {
  padding-right:0;
}

.header-bar .col-xs-12,
.header-bar .col-sm-12,
.article .article-artnr,
.article .article-description  {
  padding:0;
}

.article .article-description {
  white-space:pre-line;
}

.tws-theme-content .container,
.tws-theme-footer {
  margin-top:15px;
}



.cocktail-bar .container {
  position:relative;
}

h3 {
  margin:15px 0 30px 0;
}

.article-heading {
  padding:10px;
}
.article-heading .fa {
  margin:0 3px 3px 3px;
}

.article .btn {
  width:100%;
}

.tws-article-sharebutton {
  margin:20px 0;
  text-align:right;
}



.dropdown-toggle span {
  text-transform:uppercase;
}

.top-bar .inline-slot {
  padding-left:15px;
  padding-right:15px;
  display:inline-block;
}

.top-bar .inline-slot div {
  float:right;
  display:block;
}


/******************** COMPONENTS ************************/
.tws-logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.tws-articles .caption a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}



/* tws-content-box-container */

.tws-content-box h2.tws-content-box-second-line,
.tws-content-box h2.tws-content-box-third-line {
  margin:0;
}

.tws-content-box {
  padding: 20px;
}
.tws-content-box--container {
  padding: 15px 0;
}
div[tws-custom-page="customPage"] {
padding:20px;
}
.tws-content-box--cell {
   padding: 20px;
}

a.tws-content-box--table {
   position: absolute;

}

/* tws-image-carousel */
.tws-image-carousel .slick-dots {
  bottom:-35px;
}
.tws-image-carousel .slick-dots button {
 /* @TODO - Set high contrast on dots */
}

/* tws-article-search */
.tws-article-search {
  margin-bottom:0;
}

/* navbar */

.mega-menu {
box-shadow: none;
border-width:4px;
border-top-width: 4px;
}

.navbar-header .navbar-toggle {
  margin: 0 0 10px 0;
  padding: 9px 10px;
}
.dropdown-menu ul {
  list-style-type: none;
}
.navbar-default .dropdown-menu ul a:link,
.navbar-default .dropdown-menu ul a:active,
.navbar-default .dropdown-menu ul a:hover,
.navbar-default .dropdown-menu ul a:visited {
  text-transform: none;
}


.navbar-default .dropdown-menu ul {
  padding-left:20px;
}

.navbar-default {
  background-color: transparent;
  border:none;
  margin-bottom:0;
  min-height: 0;
}

.navbar-default .navbar-collapse {
  padding:0;
}

.cocktail-bar .navbar {
  border-bottom-style:solid;
  border-bottom-width:4px;
}

.navbar-default .navbar-collapse .navbar-nav>li a {
  padding-top:5px;
  padding-bottom:5px;
  letter-spacing:0.1em;
}
.navbar-default .navbar-collapse .navbar-nav>li a:hover {
  background-color:transparent;
}

.navbar-default .tws-top-menu-item-0.hidden-xs > a {
  padding-left:0;
}

.dropdown-menu {

}

/* promoted-articles */
.promoted-articles .thumbnail > img,
.promoted-articles .caption > h5,
.promoted-articles .caption > div {
  margin:15px auto;
}

.tws-articles .tws-articles-title{
  margin: 30px 0;
}



.twsPriceCurrent,
.twsPriceRegular {

}

/***** tws-article-list *****/
/* both */
.tws-list .tws-list-controls {
  margin:10px 0 10px 10px;
}



/* list */
.tws-list--type-list .row {
  border-top-width:0;
}
.tws-list--type-list .row:nth-child(1) {
  border-top-width:1px;
}
.tws-list--type-list .row img {
  max-height: 60px;
}

.tws-list--type-list .tws-list-repeat {
  padding:10px;
}

.tws-list--type-list .row .media-body {
  width:100%;
}
.tws-list--type-list .row .media-body > div {
  text-align: right;
}

.tws-list--type-list .row .media-heading,
.tws-list--type-list .row .media-body > div {
  float:left;
}
.tws-list--type-list .row .media-heading {
  padding-left:20px;
  width:70%;
}
.tws-list--type-list .row .media-body > div {
  width:30%;
}
/* grid */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .tws-list-type-grid .tws-list-repeat .thumbnail img {
    max-width:440px;
  }
}

.header-bar {
  position:relative;
}

.navbar-header {
  z-index:1000;
  position:absolute;
  right:0;
  top:-49px;
}

.tws-checkout .tws-checkout-checklist {
  margin-bottom: 40px;
}




/******************** CUSTOM RESPONSIVITY ****************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 900000px) {

  .navbar-collapse .navbar-nav {
  padding:0 0;
  z-index:9999;
}

.tws-logo {
  height: 130px;
  margin:20px 0;
}
.tws-logo--text {
  line-height:130px;
}

  .tws-checkout .tws-checkout-checklist .navigation {
    height: 75px;
  }

  .tws-checkout-checklist .pay {
    width:30%;
    margin:0 auto;
  }
  .tws-checkout-checklist .tos {
    text-align: center;
  }

  .tws-logo--text {
    font-size:5em;
  }

  .tws-pre-checkout .form-group, .tws-pre-checkout .btn-group span {
    font-size:14px;
  }

  .tws-pre-checkout form {
    position:relative;
  }

  .tws-pre-checkout .to-checkout-button-container .fa-lock {
    padding-right:3px;
  }

  .tws-pre-checkout .to-checkout-button-container .fa-angle-right{
    padding-top:3px;
  }

  .tws-pre-checkout .to-checkout-button-container {
    position:absolute;
    bottom:0;
    right:0;
  }

  .tws-pre-checkout .form-group, .tws-pre-checkout .btn-group {
    width:100%;
  }

  .tws-pre-checkout .form-group .btn-default {
    width:50%;
    display:inline-block;
  }

  .header-bar .col-lg-3 {
    z-index:9999;
  }
  .tws-pre-checkout bootstrap-decorator {
    float:left;
    width:100%;
  }

  .tws-pre-checkout bootstrap-decorator .form-group {
    margin:10px 0 0;
  }

  .tws-article-search ul.dropdown-menu {
    width: 350px;
    overflow-x: hidden;
    left:-193px!important;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .tws-checkout .tws-checkout-checklist .navigation {
    height: auto;
  }

  .tws-logo--container {
  margin:0 auto 20px auto;
}

.top-bar .row .col-xs-6:nth-child(2){
  text-align:right;
}

.top-bar .row .col-xs-6:nth-child(1),
.top-bar .row .col-xs-6:nth-child(2)
{
  min-height:20px;
  max-height:50px;
  overflow-y:auto;
  margin-bottom:10px;
}

  .header-bar {
    display:block;
    line-height: normal;
    margin:20px 0 0;
    padding-bottom:15px;
  }

  .header-bar .col-md-3,
  .header-bar .col-lg-3 {
    padding-right:0;
  }
  .tws-article-search ul.dropdown-menu {
    width: 100%;
    overflow-x: hidden;
    left:0!important;
  }

  .btn-toolbar .btn-group .btn,
  .pagination li a  {
    padding:6px 10px;
  }


}

/* Small Devices, Tablets (bootstrap "sm" breakpoint) */
@media only screen and (max-width : 767px) {

.navbar-collapse .navbar-nav {
  padding:0 20px;
  z-index:9999;
}

  .btn-toolbar .btn-group .btn,
  .pagination li a {
    padding:10px 16px;
  }

  .tws-article-search ul.dropdown-menu {
    width: 120%;
  }

  .tws-checkout-checklist .pay {
    width:100%;
    margin:0 auto;
  }

  .tws-logo--text {
    font-size:4em;
  }

  .tws-pre-checkout .form-group, .tws-pre-checkout .btn-group span {
    font-size:12px;
  }

  .tws-pre-checkout bootstrap-decorator {
    float:none;
  }

  .tws-pre-checkout .to-checkout-button-container {
    margin:10px 0 0 0;
  }

  .tws-pre-checkout .to-checkout-button-container {
    position:relative;
  }

  .tws-pre-checkout h2 {
    margin:0 0;
  }

  .tws-checkout-cart {
    margin-bottom:0;
  }







.tws-theme-footer .tws-info,
.tws-theme-footer .tws-contact-info--contact {
  margin-top:20px;
}

}

@media only screen and (max-width : 480px) { /* xs */
  .tws-logo--container div.tws-logo {
    height:70px;
    margin:0 0 10px 0;
  }






}
