/*

  This is a bare bones example SASS files. Included are some useful functions and and examples
  of variable use for colors and fonts.

*/


/***********************************************************/
/*                                                         */
/*                      Functions                          */
/*                                                         */
/***********************************************************/

// Calculeate brightness of a given color.
@function brightness($color) {
  @return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

//for black-black or white-white combinations
@function contrast-if-needed($colorbg, $colorbsc) {
  @if ($colorbg == null) or ($colorbsc == null)  {
    @return null;
  }
  @else {
    @if ($colorbg == $colorbsc) {
      @return color-contrast($colorbg,darken($colorbg,15%),lighten($colorbsc,15%));
    }
    @return $colorbsc;
  }
}

/***********************************************************/
/*                                                         */
/*                   Colors - Variables                    */
/*                                                         */
/***********************************************************/

 $document-color: #ECECEC !default; $basic-color: #0e0e0e!default; $accent-color: #FF1168  !default;

/***********************************************************/
/*                                                         */
/*                   Fonts - Variables                     */
/*                                                         */
/***********************************************************/

$regular-font-url: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" !default;
$accent-font-url: "http://fonts.googleapis.com/css?family=Playfair+Display+SC" !default;

$regular-font: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$regular-font-weight: normal !default;

$accent-font: 'Playfair Display SC', serif !default;
$accent-font-weight: normal !default;
$accent-font-transform: uppercase !default;

@import url($regular-font-url);
@import url($accent-font-url);

/* Complementary Colors - Calculated from Base Colors */
$dark-text-default: #000 !default;
$light-text-default: #fff !default;
$document-color-subtile-contrast: color-contrast($document-color,darken($document-color,15%),lighten($document-color,15%));
$basic-color-contrast: color-contrast($basic-color,#171717,#EDEDED);
$basic-color-complement: adjust-color($basic-color,-128,-128,-128) !default;
$basic-color-lighter: transparentize($basic-color, 0.3);
$basic-color-lighter-contrast: color-contrast($basic-color-lighter,#171717,#EDEDED);
$accent-color-complement: color-contrast($accent-color,darken($accent-color,15%),lighten($accent-color,15%)) !default;

/***************** COLORS *******************/
